*{
    padding: 0;
    margin: 0;
}
.App{
    display: flex;
    flex-direction: column  ;
    align-items: center;
}
.box1 h3{
    text-align: center;
}
.box2 h3{
    text-align: center;
}
.box3 h3{
    text-align: center;
}


.box1 ul{
    border: 2px solid black;
    list-style-type: none;
}

.box2 ul{
    border: 2px solid black;
    list-style-type: none;
}

.box3 ul{
    border: 2px solid black;
    list-style-type: none;
}
